---
export const prerender = true;

import ProductPage from "../../layouts/ProductPage.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import { generateSlug } from "../../content/config";
import { formatPrice } from "../../utils/price-format";
import { Image } from "astro:assets";
import { catConcat } from "../../utils/category-concatenation";

export async function getStaticPaths() {
  const products = await getCollection("nabidka");
  return products.map((product: CollectionEntry<"nabidka">) => ({
    params: { slug: generateSlug(product.data.model, product.data.id) },
    props: { product },
  }));
}

interface Props {
  product: CollectionEntry<"nabidka">;
}

const { product } = Astro.props as Props;
const { Content } = await product.render();

// Get categories array for current product
const productCategories = catConcat(product.data);

// DB pull
const productDatabase = await getCollection("nabidka");


// Filter related products
const relatedProducts = productDatabase
  .filter(p => 
    // Exclude current product
    p.data.id !== product.data.id && 
    // Check for matching categories
    catConcat(p.data).some(cat => catConcat(product.data).includes(cat))
  )
  // Sort by number of matching categories for most relevant first
  .sort((a, b) => {
    const aMatches = catConcat(a.data).filter(cat => catConcat(product.data).includes(cat)).length;
    const bMatches = catConcat(b.data).filter(cat => catConcat(product.data).includes(cat)).length;
    return bMatches - aMatches;
  })
  .slice(0, 3);
---

<ProductPage frontmatter={product.data} backPath="/nabidka" backText="Zpět na nabídku">

  <a href="/kontakt#contact" class="_button button-red" slot="cta" aria-label="Odkaz na stránku kontakty v případě zájmu">MÁM ZÁJEM</a>

  <Content slot="content"/>

  <!-- RELATED PRODUCTS -->
  <section slot="related" class="section-related-products">
    <div class="related-products-container">
      <h2 class="heading-2">Související produkty</h2>
      <hr class="__separator separator-heading" />
      {relatedProducts.length > 0 ? (
        <div class="products-horizon">
          {relatedProducts.map((product: CollectionEntry<"nabidka">) => (
            <a
            href={`/nabidka/${generateSlug(product.data.model, product.data.id)}`}
            class="product-card"
            aria-label="Interaktivní karta produktu"
            data-id={product.data.id}
            data-price={product.data.price}
            data-categories={catConcat(product.data)}>
              <figure class="product-body" aria-label="Karta produktu s obrázkem, názvem a cenou">
                <Image
                  src={product.data.coverImage.src}
                  alt={product.data.coverImage.alt || `Doprovázející obrázek produktu ${product.data.model}`}
                  class="__image product-image"
                  quality={100}
                  format="webp"
                  loading="lazy"
                />
                <figcaption class="product-description" aria-label="Popis produktu">
                  <span class="product-name" aria-label="Název produktu">
                    {product.data.model}
                  </span>
                  <span class="product-price" aria-label="Cena produktu">
                    {formatPrice(product.data.price)}
                  </span>
                </figcaption>
              </figure>
            </a>
          ))}
        </div>
      ) : (
      <p>Žádné související produkty nenalezeny.</p>
      )}
      <a href="/nabidka" class="button-link">
        Zobrazit celou nabídku
      </a>
    </div>
  </section>
</ProductPage>