---
import Hero from "../../components/Hero.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import { formatPrice } from "../../utils/price-format";
import { getCollection, type CollectionEntry } from "astro:content";
import { generateSlug } from "../../content/config";
import { Image } from "astro:assets";
import hero from "../../../src/assets/archiv.jpg";

const { title="Archív", description="Prohlédněte si nástroje s novými spokojenými zákazníky." } = Astro.props;

// db pull
const productDatabase = await getCollection("archiv");

return Astro.redirect("/archiv/1");
---


<MainLayout {title} {description}>

  <!-- MAIN -->
  <main class="main" role="main" aria-label={title}>

    <!-- HERO -->
    <Hero
      heroTitle="ARCHÍV"
      backgroundImage={hero}>
    </Hero>

    <!-- SOLD GOODS -->
    <section class="section-archive">
      <div class="archive-container">
        <div class="sold-items">

          <!-- SEARCH AND SORT -->
          <div class="archive-search">
            <div class="archive-search-sort">
              <input placeholder="Vyhledat v archívu..." id="vyhledat" class="__text-input search-field" type="search" name="vyhledat" />
            </div>
            <select class="__select sold-sort">
              <option
                label="Seřazení: nejnovější"
                value="a"
                selected>
              </option>
              <option
                label="Seřazení: nejstarší"
                value="b">
              </option>
            </select>
          </div>

          <!-- PRODUCT DISPLAY -->
          <div class="page-divider">
            <div class="sold-product-cards">
              {productDatabase.map((product: CollectionEntry<"archiv">) => (
                <a href={`/archiv/${generateSlug(product.data.model, product.data.id)}`} class="product-card" data-id={product.data.id}>
                  <figure class="product-body-mini">
                    <Image
                      src={product.data.coverImage.src}
                      alt={product.data.coverImage.alt || `Doprovázející obrázek produktu ${product.data.model}`}
                      class="__image product-image"
                      quality={100}
                      format="webp"
                      loading="lazy"
                    />
                    <figcaption class="product-description">
                      <span class="product-name">
                        {product.data.model}
                      </span>
                      <span class="product-price">
                        {formatPrice(product.data.price)}
                      </span>
                    </figcaption>
                  </figure>
                </a>
              ))}
            </div>
            
            <!-- PAGINATION PLACEHOLDER -->
          </div>
        </div>
      </div>
    </section>
  </main>


  <script src="../../utils/probe.js"></script>
  <script src="../../utils/sort-archiv.js"></script>

</MainLayout>