---
export const prerender = false;

import Hero from "../components/Hero.astro";
import MainLayout from "../layouts/MainLayout.astro";
import ContactForm from "../components/ContactForm.astro";
import { Image } from "astro:assets";

const { title="Kontakt", description="Máte rozhodnuto? Chcete sjednat nezávislou prohlídku? Spojte se s námi a všechno zařídíme!" } = Astro.props;
---

<MainLayout title={title} description={description}>
  
  <!-- MAIN -->
  <main role="main" aria-label="Kontaktuje nás">

    <!-- HERO -->
    <Hero
    heroTitle="KONTAKT"
    backgroundImage={`${import.meta.env.BASE_URL}images/kontakt.webp`}>
    </Hero>
    

    <!-- SHOPS -->
    <section class="section-shops" role="region" aria-label="Sekce provozoven">
      <div class="shops-container" aria-label="Provozovny">
        <div class="shops-left" aria-label="Levý text">
          <div class="shops" aria-label="Adresy provozoven">
            <div class="shop" aria-label="Provozovna Litvínov">
              <h2 class="heading-3" aria-label="Sídlo firmy">Sídlo firmy</h2>
              <p class="paraddress" aria-label="Adresa sídla firmy">
                Podkrušnohorská<br />
                2058, 436 01, Litvínov</p>
            </div>
            <div class="shop" aria-label="Showroom">
              <h2 class="heading-3" aria-label="Showroom">Showroom</h2>
              <p class="paraddress" aria-label="Adresa showroomu">
                Přemyslovská 5,<br />
                130 00 Praha 3</p>
            </div>
          </div>
          <Image
          src={`${import.meta.env.BASE_URL}images/mapa-provozoven.webp`}
          alt="Mapa České republiky"
          class="__image czech-map"
          width={2000}
          height={1140}
          quality={80}
          format="webp"
          loading="eager"
          />
        </div>

        <!-- CONTACT INFO -->
        <div class="shops-right" aria-label="Kontaktní údaje">
          <h2 class="heading-3" aria-label="Kontaktní údaje">Kontaktní údaje</h2>
          <p class="paracontact" aria-label="Telefoní číslo a email">
            Tel:<a href="tel:+420774359074" class="rich-link">
              +420 774 359 074</a><br />
            Mail:<a href="mailto:info@pianostarek.cz" class="rich-link">
              info@pianostarek.cz</a><br />
            Web:
            <a href="https://www.pianostarek.cz/" class="rich-link">
              www.pianostarek.cz</a>
          </p>

          <!-- SOCIALS -->
          <div class="contact-socials" aria-label="Sociální sítě">
            <a target="_blank" href="https://www.facebook.com/pages/wwwpianostarekcz/109704172392121" class="social-link" aria-label="Odkaz na naší stránku na Facebooku">
              <Image
              src={`${import.meta.env.BASE_URL}images/facebook-logo.webp`}
              alt="Facebook logo"
              class="__image social-image"
              width={64}
              height={64}
              quality={80}
              loading="eager"
              />
            </a>
            <a target="_blank" href="https://www.instagram.com/pianostarek.cz/" class="social-link" aria-label="Odkaz na naší stránku na Instagramu">
              <Image
              src={`${import.meta.env.BASE_URL}images/instagram-logo.webp`}
              alt="Instagram logo"
              class="__image social-image"
              width={64}
              height={64}
              quality={80}
              loading="eager"
              />
            </a>
            <a target="_blank" href="https://www.youtube.com/@pianostarek" class="social-link" aria-label="Odkaz na naší stránku na YouTubu">
              <Image
              src={`${import.meta.env.BASE_URL}images/youtube-logo.webp`}
              alt="Youtube logo"
              class="__image social-image"
              width={64}
              height={64}
              quality={80}
              loading="eager"
              />
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- DETAILS -->
    <section class="section-details" role="region" aria-label="Dodatečné informace">
      <article class="details-container" aria-label="Dodatečné informace">
        <h3 class="heading-3" aria-label="Dodatečné informace">Dodatečné informace</h3>
        <div class="details-body" aria-label="Detaily">

          <!-- LEFT -->
          <div class="details-left" aria-label="Prodejní sklad Litvínov">
            <span class="detail-heading">Prodejní sklad Litvínov</span>
            <p class="__paragraph">
              Lze navštívit po telefonické dohodě.<br />
              Od 8.00 do 20.00 hodin.</p>
            <span class="__paragraph front-text" aria-label="Další užitečné informace">
              <b>Další užitečné informace:</b>
            </span>
            <p class="__paragraph bottom-text" aria-label="Otevírací doba">
              My nezavíráme!<br />
              Přijďte si vybrat Vaše vysněné pianino nebo klavír.<br />
              Volejte 774 35 90 74 a domluvte si prohlídku.</p>
          </div>

          <!-- RIGHT -->
          <div class="details-right" aria-label="Provozovatel firmy">
            <span class="detail-heading" aria-label="Provozovatel firmy">Provozovatel fimy</span>
            <span class="__paragraph top-text" aria-label="Jméno provozovatele">
              <b>Vlastislav Stárek</b>
            </span>
            <p class="__paragraph bottom-text" aria-label="Adresa sídla firmy">
              Podkrušnohorská 2058<br />
              436 01 Litvínov<br />
              Česká republika</p>
            <p class="left-aligned" aria-label="Citát">
              „Pokud nechcete vycházet z tepla domova, vyberte si nástroj na našich stránkách a zavolejte nám.<br />
              O vše se postaráme.”</p>
          </div>
        </div>
      </article>
    </section>

    <!-- CONTACT FORM -->
    <section class="section-form" id="contact" role="region" aria-label="Kontaktní formulář">
      <div class="form-container" aria-label="Kontaktní formulář">
        <div class="form-image" aria-label="Mozart nakupuje u nás">
          <Image
          src={`${import.meta.env.BASE_URL}images/kontakt-form.webp`}
          alt="Mozart nakupuje u nás"
          class="__image mozart"
          width={640}
          height={360}
          quality={80}
          format="webp"
          loading="lazy"
          />
        </div>

        <ContactForm />

      </div>
    </section>
  </main>
  
</MainLayout>