---
export const prerender = true;

import Hero from "../components/Hero.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Video from "../components/Video.astro";
import Service from "../components/Service.astro";
import { services } from "../content/services";
import hero from "../../src/assets/sluzby.jpg";


const { title="Služby", description="Nabízíme služby jakéhokoli typu. Servis, výkup a prodej, půjčovna, transport, stěhování a další!" } = Astro.props;
---

<MainLayout title={title} description={description}>

  <!-- MAIN -->
  <main class="main" role="main" aria-label={title}>

    <!-- HERO -->
    <Hero
    heroTitle="SLUŽBY"
    backgroundImage={hero}>
    </Hero>

    <!-- QUOTE -->
    <section class="section-quote">
      <div class="quote-container">
        <blockquote class="quote">
          Jsme výkupce a prodejce pian s kompletními službami.<br />
          Postaráme se o vaše ladění a údržbu pian.<br />
          Provedeme větší i menší opravy nebo kompletní renovaci klavírů.<br />
          Máme i odborné stěhováky klavírů.
        </blockquote>
      </div>
    </section>

    <!-- SERVICES -->
    <section class="section-services">
      <div class="service-container">
        <h2 class="heading-2">NAŠE SLUŽBY</h2>
        <div class="tab-container">
          <div role="tablist" class="tabs" aria-label="Služby">
            <button type="button" role="tab" data-state="active" class="__tab-trigger tab-style" aria-label="Servis">
              Servis
            </button>
            <button type="button" role="tab" data-state="inactive" class="__tab-trigger tab-style" aria-label="Výkup a prodej">
              Výkup a prodej
            </button>
            <button type="button" role="tab" data-state="inactive" class="__tab-trigger tab-style" aria-label="Půjčovna">
              Půjčovna
            </button>
            <button type="button" role="tab" data-state="inactive" class="__tab-trigger tab-style" aria-label="Stěhování">
              Stěhování
            </button>
            <button type="button" role="tab" data-state="inactive" class="__tab-trigger tab-style" aria-label="Doplňky">
              Doplňky
            </button>
          </div>

          {services.map((service) => (
            <Service service={service} />
          ))}
          
        </div>
      </div>
    </section>

    <!-- PIANO HOUR -->
    <section class="section-piano-hour">
      <div class="piano-hour-container">
        <h2 id="hour" class="heading-2">
          HODINOVÉ PIANO PRAHA
        </h2>
        <div class="piano-hour-video">
          <Video
          videoId="Wj261yn3U1Y" 
          title="Ukázka hodinového piana v Praze"
          />
        </div>
        <div class="piano-hour-details">
          <span class="piano-hour-intro"
            >Chcete si zahrát na piano, ale nemáte kde?</span
          ><span class="piano-hour-eye-catcher">Přijdtě k nám!</span>
          <p class="parapianohour">
            Dostanete k dispozici Showroom s cca deseti pianiny.<br />
            Nikým nerušeni, si budete hrát na jaký nástroj chcete, co chcete a jak dlouho chcete.<br />
            Káva a voda ZDARMA.
          </p>
          <p class="parapianohour">
            Návštěvu si prosím domluvte předem telefonicky, emailem<br />
            nebo vyplňte formulář <a href="/kontakt#contact" class="here">zde</a >.
          </p>
          <p class="parapianohour">
            Tel:
            <a href="tel:+420774359074" class="rich-link">
              +420 774 359 074
            </a><br />
            Mail:
            <a href="mailto:info@pianostarek.cz" class="rich-link">
              info@pianostarek.cz
            </a>
          </p>
          <hr class="__separator separator-heading" />
        </div>
      </div>
    </section>
  </main>

  <script src="../scripts/tabs.js"></script>

</MainLayout>