---
import MainLayout from './MainLayout.astro';
import { formatPrice } from '../utils/price-format';
import { Image } from 'astro:assets';
import Breadcrumb from "../components/Breadcrumb.astro";
const { frontmatter } = Astro.props;
const { description="Inzerát nabízeného produktu", backPath, backText } = Astro.props;
const formattedPrice = formatPrice(frontmatter.price);
--- 

<MainLayout title={frontmatter.model} {description}>

  <!-- MAIN -->
  <main class="main" role="main" aria-label={frontmatter.title}>

    <!-- BREADCRUMB -->
    <Breadcrumb {backPath} {backText}/>
  
    <!-- PRODUCT LISTING -->
    <section class="section-product-listing">
      <div class="listing-container">
  
        <!-- LEFT CONTENT - PICTURES -->
        <div class="listing-left">
          <div class="main-image-container">
            <Image
            src={frontmatter.coverImage.src}
            class="__image listing-main-image"
            alt={frontmatter.coverImage.alt || `Hlavní obrázek produktu ${frontmatter.model}`}
            quality={100}
            format="webp"
            loading="eager"
            />
          </div>
          <div class="listing-gallery">
            {frontmatter.gallery.map((image: ImageType) => (
              <Image
                src={image.src}
                alt={image.alt || `Doprovázející obrázek produktu ${frontmatter.model}`}
                class="__image listing-gallery-image"
                quality={100}
                format="webp"
                loading="eager"
              />
            ))}
          </div>
        </div>

        <!-- RIGHT CONTENT - DESCRIPTION -->
        <article class="listing-right">
          <div class="leading-text">
            <h1 class="listing-name">
              {frontmatter.model}
            </h1>
            <h2 class="listing-price">{formattedPrice}</h2>
          </div>
          <div class="listing-description">
            <span class="description-heading">Popis</span>
            <hr class="__separator separator-inzerat" />

            <!-- GET CONTENT FROM MD FILE -->
            <slot name="content" />

          </div>
          <div class="listing-details">
            <span class="description-heading">Detaily<br /></span>
            <hr class="__separator separator-inzerat" />
            <ul class="listing-detail">
              {frontmatter.details.map((detail: string) => (
                <li>{detail}</li>
              ))}
            </ul>
          </div>
          <hr class="__separator separator-category" />
          <div class="categories">
            <p class="paracategory">
              Kategorie:
              {frontmatter.categories.map((category: string, index: number) => [
                <a href="/nabidka" class="category-link">{category}</a>,
                index < frontmatter.categories.length - 1 && ", "
              ])}
            </p>
          </div>
        </article>
      </div>
    </section>

    <slot name="related" />

  </main>
  
  <script src="../scripts/gallery-swap.js"></script>
  <script src="../scripts/image-zoom.js"></script>

</MainLayout>