---
import MainLayout from './MainLayout.astro';
import { formatPrice } from '../utils/price-format';
import { Image } from 'astro:assets';
import Breadcrumb from "../components/Breadcrumb.astro";
const { frontmatter } = Astro.props;

// Destructuring the frontmatter for easier access
const { title, model, price, coverImage, gallery, details, constructionType, condition, brand, finish } = frontmatter;
const { description="Inzerát nabízeného produktu", backPath, backText } = Astro.props;
const formattedPrice = formatPrice(price);
--- 

<MainLayout title={model} {description}>

  <!-- MAIN -->
  <main class="main" role="main" aria-label={title}>

    <!-- BREADCRUMB -->
    <Breadcrumb {backPath} {backText}/>
  
    <!-- PRODUCT LISTING -->
    <section class="section-product-listing" role="region" aria-label="Inzerát produktu">
      <div class="listing-container" aria-label="Inzerát produktu">
  
        <!-- LEFT CONTENT - PICTURES -->
        <div class="listing-left" aria-label="Galerie obrázků produktu">
          <div class="main-image-container" aria-label="Hlavní obrázek">
            <Image
            src={coverImage.src}
            class="__image listing-main-image"
            alt={coverImage.alt || `Hlavní obrázek produktu ${model}`}
            quality={100}
            format="webp"
            loading="eager"
            />
          </div>
          <div class="listing-gallery" aria-label="Obrázková galerie">
            {gallery.map((image: any) => (
              <Image
                src={image.src}
                alt={image.alt || `Doprovázející obrázek produktu ${model}`}
                class="__image listing-gallery-image"
                quality={100}
                format="webp"
                loading="eager"
                title={gallery}
              />
            ))}
          </div>
        </div>

        <!-- RIGHT CONTENT - DESCRIPTION -->
        <article class="listing-right" aria-label="Popis produktu">
          <div class="leading-text" aria-label="Hlavní texty">
            <h1 class="listing-name" aria-label="Model">{model}</h1>
            <div class="listing-call-to-action" aria-label="Odkaz na stránku kontakty">
              <h2 class="listing-price" aria-label="Cena">{formattedPrice}</h2>
              <slot name="cta" />
            </div>
          </div>
          <div class="listing-description" aria-label="Rozsáhlý popis produktu">
            <span class="description-heading" aria-label="Popis">Popis</span>
            <hr class="__separator separator-inzerat" />

            <!-- GET CONTENT FROM MD FILE -->
            <slot name="content" />

          </div>
          <div class="listing-details" aria-label="Detaily produktu">
            <span class="description-heading" aria-label="Detaily">Detaily<br /></span>
            <hr class="__separator separator-inzerat" />
            <ul class="listing-detail" aria-label="List detailů">
              {details.map((detail: string) => (
                <li>{detail}</li>
              ))}
            </ul>
          </div>
          <hr class="__separator separator-category" />
          <div class="categories" aria-label="Kategorie produktu">
            <p class="paracategory" aria-label="List kategorií">
              Kategorie:
                <a href="/nabidka" class="category-link">{constructionType}</a>,
                <a href="/nabidka" class="category-link">{condition}</a>,
                <a href="/nabidka" class="category-link">{brand}</a>,
                <a href="/nabidka" class="category-link">{finish}</a>
            </p>
          </div>
        </article>

      </div>
    </section>

    <slot name="related" />

  </main>
  
  <script src="../scripts/gallery-swap.js"></script>
  <script src="../scripts/image-zoom.js"></script>

</MainLayout>